[Unit]
Description=Gunicorn instance to serve application
After=network.target

[Service]
User=henri
Group=henri
WorkingDirectory=/api/clockboard
Environment="PATH=/api/clockboard/venv/bin"
ExecStart=/home/henri/.local/bin/gunicorn --workers 3 --bind 0.0.0.0:5132 Sheet-API:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target